@font-face {
  font-family: 'HelveticaRegular';
  src: url('../font/Helvetica/HelveticaRegular/HelveticaRegular.eot');
  src: url('../font/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix') format('embedded-opentype'), url('../font/Helvetica/HelveticaRegular/HelveticaRegular.woff') format('woff'), url('../font/Helvetica/HelveticaRegular/HelveticaRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaThin';
  src: url('../font/Helvetica/HelveticaThin/HelveticaThin.eot');
  src: url('../font/Helvetica/HelveticaThin/HelveticaThin.eot?#iefix') format('embedded-opentype'), url('../font/Helvetica/HelveticaThin/HelveticaThin.woff') format('woff'), url('../font/Helvetica/HelveticaThin/HelveticaThin.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaLight';
  src: url('../font/Helvetica/HelveticaLight/HelveticaLight.eot');
  src: url('../font/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix') format('embedded-opentype'), url('../font/Helvetica/HelveticaLight/HelveticaLight.woff') format('woff'), url('../font/Helvetica/HelveticaLight/HelveticaLight.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaLightItalic';
  src: url('../font/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot');
  src: url('../font/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix') format('embedded-opentype'), url('../font/Helvetica/HelveticaLightItalic/HelveticaLightItalic.woff') format('woff'), url('../font/Helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaMedium';
  src: url('../font/Helvetica/HelveticaMedium/HelveticaMedium.eot');
  src: url('../font/Helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix') format('embedded-opentype'), url('../font/Helvetica/HelveticaMedium/HelveticaMedium.woff') format('woff'), url('../font/Helvetica/HelveticaMedium/HelveticaMedium.ttf') format('truetype');
}
img {
  max-width: 100%;
  height: auto;
}
/* min-width 360px */
@media (min-width: 360px) {
  body {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 12px;
    color: #000000;
  }
  .page-header {
    height: 455px;
    background: #001500 url(../img/bg_page-header_xs_1x.jpg) no-repeat left 50%;
  }
  .page-header .wrapper .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }
  .page-header .wrapper {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 9px 0;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo img {
    height: 26px;
    width: 26px;
  }
  .page-header__contacts {
    line-height: 14px;
  }
  .page-header__contacts .button,
  .page-header__contacts .phone {
    color: #ffffff;
  }
  .menu {
    position: relative;
    display: block;
    height: 4px;
    width: 25px;
    float: right;
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  .menu,
  .menu:before,
  .menu:after {
    -webkit-box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.75);
    box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.75);
  }
  .menu:before,
  .menu:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 2px;
  }
  .menu:before {
    top: 8px;
  }
  .menu:after {
    bottom: 8px;
  }
  .menu ul {
    display: none;
  }
  /* services */
  .services {
    margin: 0 15%;
    padding: 100px 0 0;
  }
  .services__item {
    padding: 100px 0 0;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
  }
  .services__item:before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 94px;
    height: 82px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .services__design:before {
    background: url(../img/services__design.png) 50% 50% no-repeat;
  }
  .services__beautification:before {
    background: url(../img/services__beautification.png) 50% 50% no-repeat;
  }
  .services__greening:before {
    background: url(../img/services__greening.png) 50% 50% no-repeat;
  }
  .services__gardening:before {
    background: url(../img/services__gardening.png) 50% 50% no-repeat;
  }
  .title,
  .text {
    margin-top: 0;
  }
  .page-header__title,
  .page-header__text {
    position: absolute;
    left: 50%;
    width: 100%;
    margin-top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
  }
  .page-header__title {
    top: 382px;
    font-family: "Arial Black";
    font-size: 79px;
    color: #ffffff;
  }
  .page-header__text {
    top: 465px;
    font-size: 20px;
    line-height: 26px;
    color: #0199ec;
  }
  /* main */
  .about {
    font-family: "HelveticaLight";
    text-align: center;
  }
  .about > .title {
    margin: 80px 20px 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .about > .text {
    margin: 20px 0 40px;
    font-size: 12px;
    line-height: 14px;
  }
  .about div[class~="col-xs-12"] {
    padding: 0px;
  }
  .about .item {
    display: block;
    height: 60px;
    margin-top: 225px;
    padding: 22px;
    font-family: "HelveticaRegular";
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    background-color: #eaeaeb;
    overflow: hidden;
  }
  .about .item:hover {
    text-decoration: none;
    background-color: #f5f5f5;
  }
  .about__team:before {
    background: url(../img/about__team--bg.jpg) 50% 30% no-repeat;
  }
  .about__expo:before {
    background: url(../img/about__expo--bg.jpg) 50% 30% no-repeat;
  }
  .about__reviews:before {
    background: url(../img/about__reviews--bg.jpg) 50% 10% no-repeat;
  }
  .about .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.9;
  }
  .about .item:hover:before {
    opacity: 1;
  }
  /* garden */
  .garden {
    margin-top: 60px;
    text-align: center;
  }
  .garden__description .title,
  .garden__description .text {
    margin-bottom: 40px;
  }
  .garden__description .title {
    font-family: "HelveticaLight";
    font-size: 20px;
  }
  .garden__description .text {
    color: #888888;
    text-align: left;
  }
  .button {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    background-color: #65abd0;
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 2px;
    border: none;
    /*
    text-overflow: ellipsis;
    overflow: hidden;
*/
  }
  .button:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .garden .slider {
    margin-bottom: 20px;
  }
  .garden .slider-nav {
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 0px;
    background: rgba(255, 255, 255, 0.5);
  }
  /* slider */
  .slider {
    height: 205px;
    overflow: hidden;
  }
  .slider__button {
    width: 33px;
    height: 33px;
    border: none;
    background-color: #ffffff;
  }
  .slider__button:nth-child(2n) {
    margin-left: 1px;
  }
  .slider__button:hover {
    background: rgba(255, 255, 255, 0.75);
  }
  .slider__button:active {
    background: rgba(128, 128, 128, 0.95);
  }
  .slider__button:focus {
    background: rgba(192, 192, 192, 0.95);
    outline: none;
  }
  .slider__button:after {
    content: "";
    position: absolute;
    height: 33px;
    width: 33px;
    background: transparent url(../img/arrow.png) 50% 50% no-repeat;
  }
  .slider__button:first-child:after {
    top: 0;
    left: 0;
  }
  .slider__button:nth-child(2n):after {
    top: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* ready solution */
  .ready-solution {
    margin-top: 60px;
    text-align: left;
  }
  .ready-solution .title,
  .ready-solution .text {
    margin-bottom: 40px;
  }
  .ready-solution .title {
    font-family: "HelveticaLight";
    font-size: 20px;
    text-align: center;
  }
  .ready-solution .text {
    color: #888888;
  }
  /* feedback */
  .feedback:before {
    content: "";
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
    height: 220px;
    background: #000000 url(../img/bg_feedback.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .feedback {
    position: relative;
    margin-top: 260px;
    padding: 20px 0;
    background-color: #e5e5e5;
    text-align: center;
  }
  .feedback .title {
    font-family: "HelveticaLight";
    font-size: 20px;
  }
  .feedback .text {
    padding-top: 20px;
  }
  #feedback-mail {
    margin-top: 10px;
    padding: 10px 20px;
    min-width: 220px;
    border: none;
    border-radius: 2px;
  }
  #feedback-button {
    margin-top: 10px;
  }
  /* contacts */
  .contacts {
    padding: 20px 0;
    text-align: center;
  }
  .contacts .title {
    font-family: "HelveticaLight";
    font-size: 20px;
  }
  .contacts .text {
    padding-top: 20px;
    line-height: 14px;
    color: #878787;
  }
  .map {
    margin-top: 20px;
    height: 255px;
  }
  .map iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  /* footer */
  /* social */
  .social {
    padding: 40px 0;
    text-align: center;
  }
  .facebook,
  .twitter,
  .vkontakte {
    padding: 0 25px;
    opacity: 0.7;
  }
  .facebook:hover,
  .twitter:hover,
  .vkontakte:hover {
    opacity: 0.9;
  }
  .facebook:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent url(../img/fb.png) no-repeat 50% 50%;
  }
  .twitter:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent url(../img/twitter.png) no-repeat 50% 50%;
  }
  .vkontakte:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent url(../img/vk.png) no-repeat 50% 50%;
  }
}

/* min-width 768px */
@media (min-width: 768px) {
  .page-header {
    background: #001500 url(../img/bg_page-header_md_1x.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .garden__description__title,
  .garden__description__text {
    margin-bottom: 20px;
  }
  .garden {
    margin-top: 80px;
    text-align: left;
  }
  .garden .slider {
    margin-bottom: 0;
  }
  .garden .slider-nav {
    bottom: 0;
  }
  .garden .button,
  .ready-solution .button {
    float: left;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .ready-solution .title {
    text-align: left;
  }
  .ready-solution .title,
  .ready-solution .title {
    margin-bottom: 20px;
  }
}
/* min-width 992px */
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  .page-header {
    height: 672px;
  }
  .page-header .wrapper {
    padding: 22px 0;
  }
  .page-header__contacts .call,
  .page-header__contacts .phone {
    line-height: 30px;
  }
  .page-header__contacts .call {
    font-family: "HelveticaLightItalic";
    color: #ffffff;
  }
  .page-header__contacts .phone {
    font-family: "HelveticaLight";
    font-size: 24px;
  }
  .logo img {
    height: 72px;
    width: 72px;
  }
  .menu {
    position: static;
    height: auto;
    width: auto;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
    cursor: text;
  }
  .menu:before,
  .menu:after {
    display: none;
  }
  .menu > ul {
    display: block;
    width: 300px;
    padding-left: 0px;
    text-align: right;
  }
  .menu__link {
    display: inline-block;
    padding: 0 10px;
  }
  .menu__link a {
    font-family: "HelveticaLight";
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .menu__link a:hover,
  .menu__link a:active {
    text-decoration: none;
  }
  .menu__link--active {
    border-bottom: 2px solid #ffffff;
  }
  .page-header__title {
    top: 530px;
    font-size: 154px;
  }
  .page-header__text {
    top: 700px;
    font-size: 30px;
  }
  .services__item {
    padding-top: 250px;
  }
  .services__item:before {
    width: 112px;
    height: 99px;
  }
  .services__design:before {
    background: url(../img/services__design_l.png) 50% 50% no-repeat;
  }
  .services__beautification:before {
    background: url(../img/services__beautification_l.png) 50% 50% no-repeat;
  }
  .services__greening:before {
    background: url(../img/services__greening_l.png) 50% 50% no-repeat;
  }
  .services__gardening:before {
    background: url(../img/services__gardening_l.png) 50% 50% no-repeat;
  }
  .about > .title,
  .about > .text {
    line-height: 1.3;
  }
  .about > .title {
    margin-top: 130px;
    font-size: 20px;
  }
  .about > .text {
    margin-bottom: 85px;
    font-size: 16px;
  }
  .about .item {
    margin-top: 260px;
    height: 80px;
    padding: 29px 0;
    font-size: 16px;
  }
  .about .item:before {
    height: 260px;
  }
  .garden,
  .ready-solution {
    margin-top: 80px;
  }
  .garden .button,
  .ready-solution .button {
    margin-bottom: -50px;
  }
  .slider {
    height: 340px;
  }
  .button {
    padding: 15px 25px;
  }
  .slider__button {
    height: 50px;
    width: 50px;
  }
  .slider__button:first-child:after {
    top: 10px;
    left: 6px;
  }
  .slider__button:nth-child(2n):after {
    top: 10px;
    right: 7px;
  }
  .garden__description .title,
  .ready-solution .title {
    font-family: "HelveticaThin";
    font-size: 48px;
    line-height: 1.3;
  }
  .feedback {
    margin-top: 340px;
    padding: 50px 0;
  }
  .feedback:before {
    top: -260px;
    height: 260px;
  }
  .feedback .title {
    font-size: 36px;
  }
  .feedback-form {
    padding-top: 30px;
  }
  .feedback-form .text {
    text-align: right;
  }
  .feedback .button {
    min-width: 200px;
    float: left;
    padding: 10px;
  }
  #feedback-mail {
    width: 100%;
  }
  .contacts {
    padding-top: 60px;
  }
  .contacts .title {
    margin-bottom: 20px;
    font-family: "HelveticaThin";
    font-size: 48px;
  }
  .contacts .text {
    position: relative;
    line-height: 18px;
    padding-top: 10px;
  }
  .contacts .text:nth-child(2n+1):after {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100px;
    width: 638px;
    background-color: #ffffff;
    z-index: 1000;
  }
  .contacts div[class~="col-md-6"] {
    height: 455px;
    padding: 0;
  }
  .map {
    height: 100%;
    margin-top: 0;
  }
  .contacts__office {
    height: 100%;
    background: grey url(../img/contacts__office.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .page-footer {
    padding: 20px 0;
  }
  .page-footer .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: baseline;
  }

  .page-footer .copyright {
    font-family: "HelveticaMedium", Arial, sans-serif;
  }
  .social {
    padding: 0;
    font-family: "HelveticaMedium", Arial, sans-serif;
    text-align: right;
  }
  .social .text {
    display: inline-block;
  }
}

/* projects.html */
/* min-width 360px */
@media (min-width: 360px) {
  .projects-page .page-header {
    background: #001500 url(../img/bg_page-header_projects.jpg) no-repeat left 50%;
  }

  .projects-page .promo {
    text-align: left;
    color: #ffffff;
    padding: 60px 15px 0;
  }

  .projects-page .promo__title {
    font-size: 36px;
  }

  .projects-page .promo__text {
    font-size: 18px;
  }

  .projects-list {
    padding: 20px 15px 0;
    font-family: "HelveticaThin", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  .projects-list__title {

  }


}
